# Files
.env
.python-version
**archive.json
**candidates.md
**downloaded_files.json
**downloaded_images.json

# Directories 
/OCR
/data
/images
**/chroma/
**/models/
**/__pycache__/
**/pdfs_after_ocr

# Scripts
**authors.py
**backup.py

# Virtual Environment
/.venv/
