# Files
.env
magnets.env
**archive.json
.python-version
**downloaded_files.json
**downloaded_images.json

# # Directories 
/data
/images
**/chroma/
**/models/
**/__pycache__
**/__pycache__/

# /data/authors.json
**authors.py
**backup.py

