# Files
.env
sp_model.model 
sp_model.vocab
.python-version
**downloaded_files.json
**downloaded_images.json

# # Directories 
/data
/images
**/__pycache__


**/chroma/
**/models/
# **/__pycache__/
#


# /data/authors.json
**authors.py
**backup.py

